<div *ngIf="modal" class="wrapper"></div>
<div *ngIf="modal" class="editbar">
  <div class="editbar__header">
    <div class="editbar__header_planning">Планирование</div>
    <button (click)="setModal()" class="editbar__header_done">
      <div class="editbar__header_done_box">
        <img src="../../assets/done.svg" />
      </div>
    </button>
    <button (click)="setModal()" class="ditbar__header_close">
      <div class="ditbar__header_close_box">
        <img src="../../assets/close.svg" />
      </div>
    </button>
  </div>
  <div class="editbar__body">
    <div class="editbar__body_tabs">
      <button (click)="setTab1()" class="editbar__body_tabs_basic">
        <input
          type="radio"
          name="tab-btn"
          id="tab-btn-basic"
          value=""
          checked
        />
        <label class="editbar__body_tabs_basic-text" for="tab-btn-basic"
          >Основное</label
        >
        <div class="editbar__body_line"></div>
      </button>
      <button (click)="setTab2()" class="editbar__body_tabs_part">
        <input type="radio" name="tab-btn" id="tab-btn-part" value="" />
        <label class="editbar__body_tabs_part-text" for="tab-btn-part"
          >Участники</label
        >
        <div class="editbar__body_line"></div>
      </button>
      <div class="editbar__body_line-long"></div>
    </div>
    <div *ngIf="tab1" class="editbar__body_items">
      <button class="editbar__body_items_programm">
        <div class="editbar__body_items_programm-title">Программа</div>
        <div class="editbar__body_items_programm-text">
          Страхование с заботой о клиенте
        </div>
        <div class="editbar__body_items_programm-icon">
          <img src="../../assets/v2.svg" />
        </div>
        <div class="editbar__body_items_programm-line"></div>
        <ul class="toggle-menu">
          <li>Страхование без потерь</li>
          <li>Страховой случай</li>
          <li>Помощь клиенту</li>
          <li>Тренинг</li>
        </ul>
      </button>
      <div class="editbar__body_items_training">
        <div class="editbar__body_items_training-event">
          <div class="editbar__body_items_training-event-text">
            Мероприятие, дата и время проведения
          </div>
        </div>
        <div class="editbar__body_items_training-first">
          <div class="editbar__body_items_training-first-title">
            <div class="editbar__body_items_training-first-title-text1">
              Мероприятие
            </div>
            <div class="editbar__body_items_training-first-title-text2">
              Главные правила продаж &nbsp;
              <div class="lighter-text">Тренинг</div>
            </div>
            <div class="editbar__body_items_training-first-title-line"></div>
          </div>
          <div class="editbar__body_items_training-first-date">
            <div class="editbar__body_items_training-first-date-icon">
              <img src="../../assets/date.svg" />
            </div>
            <div class="editbar__body_items_training-first-date-title">
              Дата
            </div>
            <div class="editbar__body_items_training-first-date-day">
              28 Ноября
            </div>
            <button class="editbar__body_items_training-first-date-close">
              <img src="../../assets/close2.svg" />
            </button>
            <div class="editbar__body_items_training-first-date-line"></div>
          </div>
          <div class="editbar__body_items_training-first-time">
            <div class="editbar__body_items_training-first-time-icon">
              <img src="../../assets/clock.svg" />
            </div>
            <div class="editbar__body_items_training-first-time-title">
              Время
            </div>
            <div class="editbar__body_items_training-first-time-hours">
              9:00
            </div>
            <button class="editbar__body_items_training-first-time-close">
              <img src="../../assets/close2.svg" />
            </button>
            <div class="editbar__body_items_training-first-time-line"></div>
          </div>
          <button class="editbar__body_items_training-first-trainer">
            <div class="editbar__body_items_training-first-trainer-title">
              Тренер
            </div>
            <div class="editbar__body_items_training-first-trainer-name">
              Сергей Ефремов
            </div>
            <div class="editbar__body_items_training-first-trainer-icon">
              <img src="../../assets/v2.svg" />
            </div>
            <div class="editbar__body_items_training-first-trainer-line"></div>
            <ul class="toggle-menu">
              <li>Максим Вильниц</li>
              <li>Ольга Крышкова</li>
              <li>Юлия Грунина</li>
              <li>Марат Большаков</li>
            </ul>
          </button>
        </div>
        <div class="editbar__body_items_training-second">
          <div class="editbar__body_items_training-second-title">
            <div class="editbar__body_items_training-second-title-text1">
              Мероприятие
            </div>
            <div class="editbar__body_items_training-second-title-text2">
              Страхование без потерь &nbsp;
              <div class="lighter-text">Тренинг</div>
            </div>
            <div class="editbar__body_items_training-second-title-line"></div>
          </div>
          <button class="editbar__body_items_training-second-date">
            <div class="editbar__body_items_training-second-date-icon">
              <img src="../../assets/date2.svg" />
            </div>

            <div class="editbar__body_items_training-second-date-day">Дата</div>
            <div class="editbar__body_items_training-second-date-close">
              <img src="../../assets/v2.svg" />
            </div>
            <div class="editbar__body_items_training-second-date-line"></div>
            <ul class="toggle-menu">
              <li>Сентябрь</li>
              <li>Октябрь</li>
              <li>Ноябрь</li>
              <li>Декабрь</li>
            </ul>
          </button>
          <button class="editbar__body_items_training-second-time">
            <div class="editbar__body_items_training-second-time-icon">
              <img src="../../assets/clock2.svg" />
            </div>
            <div class="editbar__body_items_training-second-time-hours">
              Время
            </div>
            <div class="editbar__body_items_training-second-time-close">
              <img src="../../assets/v2.svg" />
            </div>
            <div class="editbar__body_items_training-second-time-line"></div>
            <ul class="toggle-menu">
              <li>10:00</li>
              <li>10:30</li>
              <li>11:00</li>
              <li>11:30</li>
            </ul>
          </button>
          <button class="editbar__body_items_training-second-trainer">
            <img
              class="editbar__body_items_training-second-trainer-photo"
              src="../../assets/photo.svg"
            />
            <div class="editbar__body_items_training-second-trainer-name">
              Тренер
            </div>
            <div class="editbar__body_items_training-second-trainer-icon">
              <img src="../../assets/v2.svg" />
            </div>
            <div class="editbar__body_items_training-second-trainer-line"></div>
            <ul class="toggle-menu">
              <li>Максим Вильниц</li>
              <li>Ольга Крышкова</li>
              <li>Юлия Грунина</li>
              <li>Марат Большаков</li>
            </ul>
          </button>
        </div>
        <div class="editbar__body_items_training-three">
          <div class="editbar__body_items_training-second-title">
            <div class="editbar__body_items_training-second-title-text1">
              Мероприятие
            </div>
            <div class="editbar__body_items_training-second-title-text2">
              Страховой случай или как помочь клиенту &nbsp;
              <div class="lighter-text">Тренинг</div>
            </div>
            <div class="editbar__body_items_training-second-title-line"></div>
          </div>
          <button class="editbar__body_items_training-second-date">
            <div class="editbar__body_items_training-second-date-icon">
              <img src="../../assets/date2.svg" />
            </div>

            <div class="editbar__body_items_training-second-date-day">Дата</div>
            <div class="editbar__body_items_training-second-date-close">
              <img src="../../assets/v2.svg" />
            </div>
            <div class="editbar__body_items_training-second-date-line"></div>
            <ul class="toggle-menu">
              <li>Сентябрь</li>
              <li>Октябрь</li>
              <li>Ноябрь</li>
              <li>Декабрь</li>
            </ul>
          </button>
          <button class="editbar__body_items_training-second-time">
            <div class="editbar__body_items_training-second-time-icon">
              <img src="../../assets/clock2.svg" />
            </div>
            <div class="editbar__body_items_training-second-time-hours">
              Время
            </div>
            <div class="editbar__body_items_training-second-time-close">
              <img src="../../assets/v2.svg" />
            </div>
            <div class="editbar__body_items_training-second-time-line"></div>
            <ul class="toggle-menu">
              <li>10:00</li>
              <li>10:30</li>
              <li>11:00</li>
              <li>11:30</li>
            </ul>
          </button>
          <button class="editbar__body_items_training-second-trainer">
            <img
              class="editbar__body_items_training-second-trainer-photo"
              src="../../assets/photo.svg"
            />
            <div class="editbar__body_items_training-second-trainer-name">
              Тренер
            </div>
            <div class="editbar__body_items_training-second-trainer-icon">
              <img src="../../assets/v2.svg" />
            </div>
            <div class="editbar__body_items_training-second-trainer-line"></div>
            <ul class="toggle-menu">
              <li>Максим Вильниц</li>
              <li>Ольга Крышкова</li>
              <li>Юлия Грунина</li>
              <li>Марат Большаков</li>
            </ul>
          </button>
        </div>
      </div>
      <div class="editbar__body_items_select">
        <div class="editbar__body_items_select-title">
          Условия записи по коду
        </div>
        <div class="editbar__body_items_select-first">
          <input type="radio" id="radio-btn" name="radio-btn" checked />
          <label
            for="radio-btn"
            class="editbar__body_items_select-first-btn"
          ></label>
          <div class="blue-ball"></div>
          <div class="editbar__body_items_select-first-text">
            Не использовать код доступа
          </div>
        </div>
        <div class="editbar__body_items_select-second">
          <input type="radio" id="radio-btn2" name="radio-btn" />
          <label
            for="radio-btn2"
            class="editbar__body_items_select-second-btn"
          ></label>
          <div class="blue-ball2"></div>
          <div class="editbar__body_items_select-second-text">
            Требовать регистрацию
          </div>
        </div>
        <div class="editbar__body_items_select-third">
          <input type="radio" id="radio-btn3" name="radio-btn" />
          <label
            for="radio-btn3"
            class="editbar__body_items_select-third-btn"
          ></label>
          <div class="blue-ball3"></div>
          <div class="editbar__body_items_select-third-text">
            Запросить только имя и фамилию
          </div>
        </div>
        <div class="editbar__body_items_select-fourth">
          <input type="radio" id="radio-btn4" name="radio-btn" />
          <label
            for="radio-btn4"
            class="editbar__body_items_select-fourth-btn"
          ></label>
          <div class="blue-ball4"></div>
          <div class="editbar__body_items_select-fourth-text">
            Не требовать регистрацию, имя и фамилию
          </div>
        </div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div *ngIf="tab2" class="editbar__body_items2">
      <div class="items2__left">
        <div class="items2__left_title">Доступные участники</div>
        <div class="items2__left_filter">
          <div class="items2__left_filter_input">
            <div class="items2__left_filter_input-search">
              <div class="items2__left_filter_input-search-icon">
                <img src="../../assets/search.svg" />
              </div>
              <input
                class="items2__left_filter_input-search-text"
                placeholder="Поиск"
              />
              <div class="items2__left_filter_input-search-line"></div>
            </div>
            <button class="items2__left_filter_input-programm">
              <div class="items2__left_filter_input-programm-title">Группа</div>
              <div class="items2__left_filter_input-programm-text">
                Администрирование
              </div>
              <div class="items2__left_filter_input-programm-icon">
                <img src="../../assets/v2.svg" />
              </div>
              <div class="items2__left_filter_input-programm-line"></div>
              <ul class="toggle-menu">
                <li>Организация</li>
                <li>Роль</li>
                <li>Статус</li>
                <li>Должность</li>
              </ul>
            </button>
            <button class="items2__left_filter_input-position">
              <div class="items2__left_filter_input-programm-title">
                Должность
              </div>
              <div class="items2__left_filter_input-programm-text">
                Менеджер по персон...
              </div>
              <div class="items2__left_filter_input-programm-icon">
                <img src="../../assets/v2.svg" />
              </div>
              <div class="items2__left_filter_input-programm-line"></div>
              <ul class="toggle-menu">
                <li>Менеджер</li>
                <li>Оператор</li>
                <li>Бухгалтер</li>
                <li>Логист</li>
              </ul>
            </button>
            <button class="items2__left_filter_input-experience">
              <div class="items2__left_filter_input-programm-title">Стаж</div>
              <div class="items2__left_filter_input-programm-text">
                3 &ndash; 10 лет
              </div>
              <div class="items2__left_filter_input-programm-icon">
                <img src="../../assets/v2.svg" />
              </div>
              <div class="items2__left_filter_input-programm-line"></div>
              <ul class="toggle-menu">
                <li>Без опыта</li>
                <li>1 - 3 года</li>
                <li>5 - 10 лет</li>
                <li>Более 10 лет</li>
              </ul>
            </button>
          </div>
          <div class="items2__left_filter_footer">
            <div class="items2__left_filter_footer-users">42 пользователя</div>
            <button class="items2__left_filter_footer-options">
              <div class="items2__left_filter_footer-options-icon">
                <img src="../../assets/option.svg" />
              </div>
              <div class="items2__left_filter_footer-options-text">
                Настроить
              </div>
              <ul class="options-menu">
                <li><div>Системные поля</div></li>
                <li>
                  <div>Поиск</div>
                  <img src="../../assets/check.svg" />
                </li>
                <li>
                  <div>Группа</div>
                  <img src="../../assets/check.svg" />
                </li>
                <li>
                  <div>Должность</div>
                  <img src="../../assets/check.svg" />
                </li>
                <li>
                  <div>Стаж</div>
                  <img src="../../assets/check.svg" />
                </li>
                <li><div>Дополнительные поля</div></li>
                <li><div>Подразделение</div></li>
                <li><div>Округ</div></li>
                <li><div>Город</div></li>
              </ul>
            </button>
            <button class="items2__left_filter_footer-clear">
              <div class="items2__left_filter_footer-clear-icon">
                <img src="../../assets/del.svg" />
              </div>
              <div class="items2__left_filter_footer-clear-text">Сбросить</div>
            </button>
          </div>
        </div>
        <div class="items2__left_users">
          <div class="items2__left_users-all">
            <input type="checkbox" id="chek-btn" />
            <label for="chek-btn" class="items2__left_users-all-icon"></label>
            <div class="items2__left_users-all-text">Все пользователи</div>
          </div>
          <div class="items2__left_users-one">
            <input type="checkbox" id="chek-btn1" />
            <label for="chek-btn1" class="items2__left_users-one-icon"></label>
            <div class="items2__left_users-one-text">
              <div>Максим Вильниц</div>
            </div>
          </div>
          <div class="items2__left_users-two">
            <input type="checkbox" id="chek-btn2" />
            <label for="chek-btn2" class="items2__left_users-two-icon"></label>
            <div class="items2__left_users-one-text">
              <div>Ольга Крышкова</div>
            </div>
          </div>
          <div class="items2__left_users-three">
            <input type="checkbox" id="chek-btn3" />
            <label
              for="chek-btn3"
              class="items2__left_users-three-icon"
            ></label>
            <div class="items2__left_users-one-text">
              <div>Юлия Грунина</div>
            </div>
          </div>
          <div class="items2__left_users-four">
            <input type="checkbox" id="chek-btn4" />
            <label for="chek-btn4" class="items2__left_users-four-icon"></label>
            <div class="items2__left_users-one-text">
              <div>Марат Большаков</div>
            </div>
          </div>
          <div class="items2__left_users-five">
            <input type="checkbox" id="chek-btn5" />
            <label for="chek-btn5" class="items2__left_users-five-icon"></label>
            <div class="items2__left_users-one-text">
              <div>Светлана Иванова</div>
            </div>
          </div>
          <div class="items2__left_users-six">
            <input type="checkbox" id="chek-btn6" />
            <label for="chek-btn6" class="items2__left_users-six-icon"></label>
            <div class="items2__left_users-one-text">
              <div>Данил Горбунов</div>
            </div>
          </div>
          <div class="items2__left_users-seven">
            <input type="checkbox" id="chek-btn7" />
            <label
              for="chek-btn7"
              class="items2__left_users-seven-icon"
            ></label>
            <div class="items2__left_users-one-text">
              <div>Дарья Васильева</div>
            </div>
          </div>
          <div class="items2__left_users-eight">
            <input type="checkbox" id="chek-btn8" />
            <label
              for="chek-btn8"
              class="items2__left_users-eight-icon"
            ></label>
            <div class="items2__left_users-one-text">
              <div>Владимир Силиванов</div>
            </div>
          </div>
        </div>
      </div>
      <div class="items2__drag"><img src="../../assets/drag.svg" /></div>
      <div class="items2__right">
        <div class="items2__right_title">
          <div class="items2__right_title_text">Участники мероприятия</div>
        </div>
        <div class="items2__right_border">
          <div class="items2__right_logo">
            <img src="../../assets/drops.svg" />
          </div>
        </div>

        <div class="items2__right_prompt">
          Наполните группу, перетаскивая участников из списка доступных в левой
          колонке
        </div>
      </div>
    </div>
  </div>
</div>
