<div class="wrapper"></div>
<div class="editbar">
  <div class="editbar__header">
    <div class="editbar__header_planning">Планирование</div>
    <div class="editbar__header_done">
      <div class="editbar__header_done_box">
        <img src="../../assets/done.svg" />
      </div>
    </div>
    <div class="ditbar__header_close">
      <div class="ditbar__header_close_box">
        <img src="../../assets/close.svg" />
      </div>
    </div>
  </div>
  <div class="editbar__body">
    <div class="editbar__body_tabs">
      <button class="editbar__body_tabs_basic">
        <input
          type="radio"
          name="tab-btn"
          id="tab-btn-basic"
          value=""
          checked
        />
        <label class="editbar__body_tabs_basic-text" for="tab-btn-basic"
          >Основное</label
        >
        <div class="editbar__body_line"></div>
      </button>
      <button class="editbar__body_tabs_part">
        <input type="radio" name="tab-btn" id="tab-btn-part" value="" />
        <label class="editbar__body_tabs_part-text" for="tab-btn-part"
          >Участники</label
        >
        <div class="editbar__body_line"></div>
      </button>
      <div class="editbar__body_line-long"></div>
    </div>
    <div class="editbar__body_items">
      <div class="editbar__body_items_programm">
        <div class="editbar__body_items_programm-title">Программа</div>
        <div class="editbar__body_items_programm-text">
          Страхование с заботой о клиенте
        </div>
        <div class="editbar__body_items_programm-icon">
          <img src="../../assets/v2.svg" />
        </div>
        <div class="editbar__body_items_programm-line"></div>
      </div>
      <div class="editbar__body_items_training">
        <div class="editbar__body_items_training-event">
          <div class="editbar__body_items_training-event-text">
            Мероприятие, дата и время проведения
          </div>
        </div>
        <div class="editbar__body_items_training-first">
          <div class="editbar__body_items_training-first-title">
            <div class="editbar__body_items_training-first-title-text1">
              Мероприятие
            </div>
            <div class="editbar__body_items_training-first-title-text2">
              Главные правила продаж &nbsp;
              <div class="lighter-text">Тренинг</div>
            </div>
            <div class="editbar__body_items_training-first-title-line"></div>
          </div>
          <div class="editbar__body_items_training-first-date">
            <div class="editbar__body_items_training-first-date-icon">
              <img src="../../assets/date.svg" />
            </div>
            <div class="editbar__body_items_training-first-date-title">
              Дата
            </div>
            <div class="editbar__body_items_training-first-date-day">
              28 Ноября
            </div>
            <div class="editbar__body_items_training-first-date-close">
              <img src="../../assets/close2.svg" />
            </div>
            <div class="editbar__body_items_training-first-date-line"></div>
          </div>
          <div class="editbar__body_items_training-first-time">
            <div class="editbar__body_items_training-first-time-icon">
              <img src="../../assets/clock.svg" />
            </div>
            <div class="editbar__body_items_training-first-time-title">
              Время
            </div>
            <div class="editbar__body_items_training-first-time-hours">
              9:00
            </div>
            <div class="editbar__body_items_training-first-time-close">
              <img src="../../assets/close2.svg" />
            </div>
            <div class="editbar__body_items_training-first-time-line"></div>
          </div>
          <div class="editbar__body_items_training-first-trainer">
            <div class="editbar__body_items_training-first-trainer-title">
              Тренер
            </div>
            <div class="editbar__body_items_training-first-trainer-name">
              Сергей Ефремов
            </div>
            <div class="editbar__body_items_training-first-trainer-icon">
              <img src="../../assets/v2.svg" />
            </div>
            <div class="editbar__body_items_training-first-trainer-line"></div>
          </div>
        </div>
        <div class="editbar__body_items_training-second">
          <div class="editbar__body_items_training-second-title">
            <div class="editbar__body_items_training-second-title-text1">
              Мероприятие
            </div>
            <div class="editbar__body_items_training-second-title-text2">
              Страхование без потерь &nbsp;
              <div class="lighter-text">Тренинг</div>
            </div>
            <div class="editbar__body_items_training-second-title-line"></div>
          </div>
          <div class="editbar__body_items_training-second-date">
            <div class="editbar__body_items_training-second-date-icon">
              <img src="../../assets/date2.svg" />
            </div>

            <div class="editbar__body_items_training-second-date-day">Дата</div>
            <div class="editbar__body_items_training-second-date-close">
              <img src="../../assets/v2.svg" />
            </div>
            <div class="editbar__body_items_training-second-date-line"></div>
          </div>
          <div class="editbar__body_items_training-second-time">
            <div class="editbar__body_items_training-second-time-icon">
              <img src="../../assets/clock2.svg" />
            </div>
            <div class="editbar__body_items_training-second-time-hours">
              Время
            </div>
            <div class="editbar__body_items_training-second-time-close">
              <img src="../../assets/v2.svg" />
            </div>
            <div class="editbar__body_items_training-second-time-line"></div>
          </div>
          <div class="editbar__body_items_training-second-trainer">
            <img
              class="editbar__body_items_training-second-trainer-photo"
              src="../../assets/photo.svg"
            />
            <div class="editbar__body_items_training-second-trainer-name">
              Тренер
            </div>
            <div class="editbar__body_items_training-second-trainer-icon">
              <img src="../../assets/v2.svg" />
            </div>
            <div class="editbar__body_items_training-second-trainer-line"></div>
          </div>
        </div>
        <div class="editbar__body_items_training-three">
          <div class="editbar__body_items_training-second-title">
            <div class="editbar__body_items_training-second-title-text1">
              Мероприятие
            </div>
            <div class="editbar__body_items_training-second-title-text2">
              Страховой случай или как помочь клиенту &nbsp;
              <div class="lighter-text">Тренинг</div>
            </div>
            <div class="editbar__body_items_training-second-title-line"></div>
          </div>
          <div class="editbar__body_items_training-second-date">
            <div class="editbar__body_items_training-second-date-icon">
              <img src="../../assets/date2.svg" />
            </div>

            <div class="editbar__body_items_training-second-date-day">Дата</div>
            <div class="editbar__body_items_training-second-date-close">
              <img src="../../assets/v2.svg" />
            </div>
            <div class="editbar__body_items_training-second-date-line"></div>
          </div>
          <div class="editbar__body_items_training-second-time">
            <div class="editbar__body_items_training-second-time-icon">
              <img src="../../assets/clock2.svg" />
            </div>
            <div class="editbar__body_items_training-second-time-hours">
              Время
            </div>
            <div class="editbar__body_items_training-second-time-close">
              <img src="../../assets/v2.svg" />
            </div>
            <div class="editbar__body_items_training-second-time-line"></div>
          </div>
          <div class="editbar__body_items_training-second-trainer">
            <img
              class="editbar__body_items_training-second-trainer-photo"
              src="../../assets/photo.svg"
            />
            <div class="editbar__body_items_training-second-trainer-name">
              Тренер
            </div>
            <div class="editbar__body_items_training-second-trainer-icon">
              <img src="../../assets/v2.svg" />
            </div>
            <div class="editbar__body_items_training-second-trainer-line"></div>
          </div>
        </div>
      </div>
      <div class="editbar__body_items_select">
        <div class="editbar__body_items_select-title">
          Условия записи по коду
        </div>
        <div class="editbar__body_items_select-first">
          <input type="radio" id="radio-btn" />
          <label
            for="radio-btn"
            class="editbar__body_items_select-first-btn"
          ></label>
          <div class="blue-ball"></div>
        </div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</div>
