<header class="header">
  <button (click)="openModal()" class="header__plane">
    <div class="header__icon"><img src="../../assets/plus.svg" /></div>
    <div class="header__btn">Запланировать</div>
  </button>
  <div class="header__top">
    <div class="header__scroll">
      <div class="header__menu">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        <ul>
          <a href="#"><li>Домой</li></a>
          <a href="#"><li>Контакты</li></a>
          <a href="#"><li>Информация</li></a>
        </ul>
      </div>
      <div class="media__title">
        Обучение
        <button (click)="openModal()" class="media__title_btn">
          <img src="../../assets/media-plus.svg" />
        </button>
      </div>
    </div>
    <div class="header__breadcrumb">Главная &nbsp; — &nbsp; Планирование</div>
    <div class="header__logo">
      <img src="../../assets/logo.svg" />
    </div>
    <div class="header__title">Планирование</div>
  </div>
</header>
<div class="body">
  <div class="body__tabs">
    <button class="body__tab1">
      <input type="radio" name="tab-btn" id="tab-btn-1" value="" checked />
      <label class="body__group" for="tab-btn-1">Групповое</label>
      <div class="body__line"></div>
    </button>
    <button class="body__tab2">
      <input type="radio" name="tab-btn" id="tab-btn-2" value="" />
      <label class="body__individ" for="tab-btn-2">Индивидуальное</label>
      <div class="body__line"></div>
    </button>
    <div class="body__line-long"></div>
  </div>
</div>
<div class="filter">
  <div class="filter__input">
    <div class="filter__find">
      <input type="text" required list="filter" />
      <label>Поиск</label>

      <button class="media__options">
        <img src="../../assets/media-options.svg" />
        <ul class="toggle-menu_small">
          <li>
            <div class="toggle-menu_small_img">
              <img src="../../assets/pen.svg" />
            </div>
            Редактировать
          </li>
          <li>
            <div class="toggle-menu_small_img">
              <img src="../../assets/basket.svg" />
            </div>
            Удалить слот
          </li>
        </ul>
      </button>
    </div>
    <button class="filter__course">
      <div class="filter__course-program">Программа</div>
      <div class="filter__course-all">{{ courseMenu }}</div>
      <div class="filter__course-btn"><img src="../../assets/v.svg" /></div>
      <div class="filter__course-border"></div>
      <ul class="menu">
        <li (click)="courseMenu = 'Страхование'">Страхование</li>
        <li (click)="courseMenu = 'Продажи'">Продажи</li>
        <li (click)="courseMenu = 'Обучение'">Обучение</li>
        <li (click)="courseMenu = 'Тестирование'">Тестирование</li>
      </ul>
    </button>

    <mat-form-field appearance="fill" class="filter__date">
      <mat-label>Период</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Старт" />
        <input matEndDate placeholder="Окончание" />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <button class="filter__status">
      <div class="filter__status-stat">Статус</div>
      <div class="filter__status-all">{{ statusMenu }}</div>
      <div class="filter__status-btn"><img src="../../assets/v.svg" /></div>
      <div class="filter__status-border"></div>
      <ul class="menu">
        <li (click)="statusMenu = 'Ожидается'">Ожидается</li>
        <li (click)="statusMenu = 'В процессе'">В процессе</li>
        <li (click)="statusMenu = 'Готово'">Готово</li>
        <li (click)="statusMenu = 'Согласование'">Согласование</li>
      </ul>
    </button>
  </div>
  <div class="filter__footer">
    <div class="footer__session">34 сессии</div>
    <button class="footer__options">
      <div class="footer__options-img">
        <img src="../../assets/option.svg" />
      </div>
      <div class="footer__options-filter">Настроить фильтр</div>
      <ul class="filter-menu">
        <div class="filter-header">
          Настройка фильтра
          <button class="filter-menu-done">
            <img src="../../assets/done.svg" />
          </button>
          <button class="filter-menu-close">
            <img src="../../assets/close.svg" />
          </button>
        </div>
        <div class="filter-menu-title">Системные поля</div>
        <li>
          <input type="checkbox" id="filter-btn1" />
          <label for="filter-btn1" class="filter-menu-btn"></label>
          Поиск
        </li>
        <li>
          <input type="checkbox" id="filter-btn2" />
          <label for="filter-btn2" class="filter-menu-btn"></label>
          Организация
        </li>
        <li>
          <input type="checkbox" id="filter-btn3" />
          <label for="filter-btn3" class="filter-menu-btn"></label>
          Роль
        </li>
        <li>
          <input type="checkbox" id="filter-btn4" />
          <label for="filter-btn4" class="filter-menu-btn"></label>
          Статус
        </li>
      </ul>
    </button>
    <button class="footer__clear">
      <div class="footer__clear-btn"><img src="../../assets/del.svg" /></div>
      <div class="footer__clear-del">Сбросить</div>
    </button>
  </div>
</div>
<button class="media__sort">
  <div class="media__sort_title">Сортировка</div>
  <div class="media__sort_text">{{ mediaMenu }}</div>
  <div class="media__sort_icon"><img src="../../assets/v.svg" /></div>
  <div class="media__sort_line"></div>
  <ul class="menu">
    <li (click)="mediaMenu = 'Организация'">Организация</li>
    <li (click)="mediaMenu = 'Роль'">Роль</li>
    <li (click)="mediaMenu = 'Статус'">Статус</li>
    <li (click)="mediaMenu = 'Категория'">Категория</li>
  </ul>
</button>
<div class="list">
  <div class="list__header">
    <div class="list__header-date">Дата начала</div>
    <div class="list__header-title">Название</div>
    <div class="list__header-part">Участников</div>
    <div class="list__header-trainer">Тренер</div>
    <div class="list__header-progress">Прогресс</div>
    <div class="list__header-btn"><img src="../../assets/arr.svg" /></div>
  </div>
  <div class="list__items">
    <div class="list__items-one">
      <div class="list__items-date">23 дек, 9:00</div>
      <div class="list__items-title">Страхование с заботой о клиенте</div>
      <div class="list__items-part">12</div>
      <div class="list__items-progress">
        <div class="list__items-img"><img src="../../assets/load.svg" /></div>
        <p>95 %</p>
      </div>
      <button class="list__items-menu">
        <div class="list_item-container">
          <img src="../../assets/treedot.svg" />
        </div>
        <ul class="toggle-menu_small">
          <li>
            <div class="toggle-menu_small_img">
              <img src="../../assets/pen.svg" />
            </div>
            Редактировать
          </li>
          <li>
            <div class="toggle-menu_small_img">
              <img src="../../assets/basket.svg" />
            </div>
            Удалить слот
          </li>
        </ul>
      </button>
    </div>
    <div class="list__items-two">
      <div class="list__items-date">14 ноя, 9:30</div>
      <div class="list__items-title">Главные правила продаж</div>
      <div class="list__items-part">10</div>
      <div class="list__items-progress">
        <div class="list__items-img"><img src="../../assets/load.svg" /></div>
        <p>91 %</p>
      </div>
      <button class="list__items-menu">
        <div class="list_item-container">
          <img src="../../assets/treedot.svg" />
        </div>
        <ul class="toggle-menu_small">
          <li>
            <div class="toggle-menu_small_img">
              <img src="../../assets/pen.svg" />
            </div>
            Редактировать
          </li>
          <li>
            <div class="toggle-menu_small_img">
              <img src="../../assets/basket.svg" />
            </div>
            Удалить слот
          </li>
        </ul>
      </button>
    </div>
    <div class="list__items-three">
      <div class="list__items-date">19 окт, 14:30</div>
      <div class="list__items-title">Первичное обучение КС</div>
      <div class="list__items-part">8</div>
      <div class="list__items-progress">
        <div class="list__items-img"><img src="../../assets/load.svg" /></div>
        <p>86 %</p>
      </div>
      <button class="list__items-menu">
        <div class="list_item-container">
          <img src="../../assets/treedot.svg" />
        </div>
        <ul class="toggle-menu_small">
          <li>
            <div class="toggle-menu_small_img">
              <img src="../../assets/pen.svg" />
            </div>
            Редактировать
          </li>
          <li>
            <div class="toggle-menu_small_img">
              <img src="../../assets/basket.svg" />
            </div>
            Удалить слот
          </li>
        </ul>
      </button>
    </div>
    <div class="list__items-four">
      <div class="list__items-date">10 окт, 16:00</div>
      <div class="list__items-title">Вторичное обучение КС</div>
      <div class="list__items-part">18</div>
      <div class="list__items-progress">
        <div class="list__items-img"><img src="../../assets/load.svg" /></div>
        <p>82 %</p>
      </div>
      <button class="list__items-menu">
        <div class="list_item-container">
          <img src="../../assets/treedot.svg" />
        </div>
        <ul class="toggle-menu_small">
          <li>
            <div class="toggle-menu_small_img">
              <img src="../../assets/pen.svg" />
            </div>
            Редактировать
          </li>
          <li>
            <div class="toggle-menu_small_img">
              <img src="../../assets/basket.svg" />
            </div>
            Удалить слот
          </li>
        </ul>
      </button>
    </div>
    <div class="list__items-five">
      <div class="list__items-date">5 окт, 15:00</div>
      <div class="list__items-title">Вклады: теория и практика</div>
      <div class="list__items-part">6</div>
      <div class="list__items-progress">
        <div class="list__items-img"><img src="../../assets/load.svg" /></div>
        <p>79 %</p>
      </div>
      <button class="list__items-menu">
        <div class="list_item-container">
          <img src="../../assets/treedot.svg" />
        </div>
        <ul class="toggle-menu_small">
          <li>
            <div class="toggle-menu_small_img">
              <img src="../../assets/pen.svg" />
            </div>
            Редактировать
          </li>
          <li>
            <div class="toggle-menu_small_img">
              <img src="../../assets/basket.svg" />
            </div>
            Удалить слот
          </li>
        </ul>
      </button>
    </div>
    <div class="list__items-six">
      <div class="list__items-date">27 сен, 11:00</div>
      <div class="list__items-title">Очное обучение менеджеров</div>
      <div class="list__items-part">20</div>
      <div class="list__items-progress">
        <div class="list__items-img"><img src="../../assets/load.svg" /></div>
        <p>73 %</p>
      </div>
      <button class="list__items-menu">
        <div class="list_item-container">
          <img src="../../assets/treedot.svg" />
        </div>
        <ul class="toggle-menu_small">
          <li>
            <div class="toggle-menu_small_img">
              <img src="../../assets/pen.svg" />
            </div>
            Редактировать
          </li>
          <li>
            <div class="toggle-menu_small_img">
              <img src="../../assets/basket.svg" />
            </div>
            Удалить слот
          </li>
        </ul>
      </button>
    </div>
  </div>
</div>
